# Environments
.env/
.venv/
env/
venv/

# Byte-compiled
*.pyc
__pycache__/

# Flask config
instance/

# Unit testing
.coverage
.pytest_cache/
htmlcov/

# Distribution
build/
dist/
*.egg-info/

# User settings
.vscode/

# Random
.DS_Store/
