<!DOCTYPE html>
<html>

<head>
    <title>Big Baller Data</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css') }}">
</head>
  <body style="background-color: antiquewhite;">
      <!-- flash messages -->
      {% with messages = get_flashed_messages() %}
      {% if messages %}
          {% for message in messages %}
          <div id="flash-message">{{ message }}</div>
          {% endfor %}
      {% endif %}
      {% endwith %}
      <h2 id="title">Big Baller Data</h2>
      <img src="static/nba.png" alt-="NBA logo" style="width: 175px; height: 200px; 
      border-radius: 10px; display: block; margin-left: auto; margin-right: auto;">
      <br>
      <h4 id="title">Select a Search</h4>
      <div id="container">

        <select id="query-selection" onchange="toggleVisible()">
            <option value="blocks-by-height">Blocks/Rebounds</option>
            <option value="max-indiv-3ptm">Individual 3s</option>
            <option value="num-wins">Wins vs Stats</option>
            <option value="players-by-college">Players By College</option>
            <option value="max-team-3ptm">Team 3s vs Wins</option>
        </select>

        <div id="blocks-by-height">
          <h3 id="title">Average Blocks/Rebounds by Height, Weight, and Season</h3>
          <form action = "/Blocks_by_height">
              <p>Season: <input name="season" value=""> </p>
              <p>Season: <input name="season2" value=""> </p>
              <p><input type="submit"></p>
          </form>
          <br>
          <p style="text-align: center;">
            This search reveals the relationship, if any, between player height, weight
            and the number of rebounds and blocks they average per game. One is able to compare
            these results across different seasons.
          </p>
        </div>
        
        <div id="max-indiv-3ptm">
          <h3 id="title">Player Percentage of Team's 3-Pointers</h3>
          <form action = "/max_individual_3ptm">
              <p>Team Name:</p>
              <p>
              <select name = "teamName" id="query-selection">
                <option selected> </option>
                {% for item in tNBA %}
                <option  value = "{{item}}"> {{item}} </option>
                {% endfor %}
              </select>
              </p>
              <p>Season: <input name="season" value=""> </p>
              <p><input type="submit"></p>
          </form>
          <br>
          <p style="text-align: center;">
            This search reveals the exact number of 3-pointers every player made for a given
            team in a season, and what percentage of the team's 3-pointers that adds up to be.
          </p>
        </div>
        

        <div id="num-wins">
          <h3 id="title">Wins to Stat Correlation</h3>
          <form action = "/team_wins_over_seasons">
              <p>Team Name:</p>
              <p>            
                <select name = "teamName" id="query-selection">
                <option selected> </option>
                {% for item in tNBA %}
                <option  value = "{{item}}"> {{item}} </option>
                {% endfor %}
              </select>
              </p>
              <p>Statistical Category:</p>
              <p>            
                <select name="category" id="query-selection">
                <option selected> </option>
                {% for item2 in tCat %}
                <option  value = "{{item2}}"> {{item2}} </option>
                {% endfor %}
              </select>
              </p>
              <p><input type="submit"></p>
          </form>
          <br>
          <p style="text-align: center;">
            This query will display the correlation, if any, between a team's total wins
            and any of their available statistical categories in the selection bar above
            for the last 20 seasons.
          </p>
        </div>
        
        <div id="players-by-college">
          <h3 id="title">NBA Players by College</h3>
          <form action = "/players_by_college">
              <p>College:</p>
              <p>
                <select name = "college" id="query-selection">
                <option  selected> </option>
                  {% for item in tCol %}
                  <option  value = "{{item}}"> {{item}} </option>
                  {% endfor %}
                </select>              
              </p>
              <p>Second College:</p>
              <p>
                <select name = "college2" id="query-selection">
                <option  selected> </option>
                  {% for item2 in tCol %}
                  <option  value = "{{item2}}"> {{item2}} </option>
                  {% endfor %}
                </select>              
              </p>
              <p><input type="submit"></p>
          </form>
          <br>
          <p style="text-align: center;">
            With this search, one can compare the number of active players in the NBA, grouped by
            their respective college attended. This data will show that number over the course of the
            most recent 10 seasons.
          </p>
        </div>
        
        <div id="max-team-3ptm">
          <h3 id="title">Team 3 pointers to Wins</h3>
          <form action = "/three_ptm_wins">
              <p>Minimum wins: <input name="minWins" value=""> </p>
              <p>Season:</p>
              <p>Start Year: <input name="sStart" value=""></p>
              <p>End Year: <input name = "sEnd" value=""></p>
              <p>Limit result: <input name="limit" value="10"> </p>
              <p><input type="submit"></p>
          </form>
          <br>
          <p style="text-align: center;">
            With this complex query, one can attempt to find an insight between teams 
            of a certain number of wins between specific seasons, and the number of 3 pointers they
            made during those seasons. 
          </p>
        </div>

        <script>
            function toggleVisible() {
            var queries = document.getElementById('query-selection');
            for (var i = 0; i < queries.length; i++) {
                var query = queries[i];
                var queryForm = document.getElementById(query.value);
                if (queries.value == queryForm.id) {
                    queryForm.style.display = '';
                } else {
                    queryForm.style.display = 'none';
                }
            }
          }
          toggleVisible();
        </script>
      </div>
    </body>
  </body>
</html>