<!DOCTYPE html>
<html>

<head>
  <title>Player 3 Pointers</title>
  <link rel="stylesheet" href="{{url_for('static', filename='style.css') }}">
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>

<body style="background-color: antiquewhite;">
  <h3 id="title">3 pointers Made by each Player on team</h3>
  <div id="container">
    <form action="/max_individual_3ptm">
        <p>Team Name:</p>
        <p>
            <select name = "teamName" id="query-selection">

              <option  selected  value = teamName > {{teamName}}</option>

             </option>
              {% for item in tNBA %}
              <option  value = "{{item}}"> {{item}} </option>
              {% endfor %}
            </select>
            </p>
        <p>Season: <input name="season" value="{{season}}"> </p>
        <p>Limit result: <input name="limit" value="{{limit}}"> </p>
        <p><input type="submit"></p>
    </form>
    <form action="/">
        <p><input type="submit" value="Back"></p>
    </form>

    <br>
    <br>
    <h3>Pie Chart for {{season}} {{teamName}}</h3>

    <div id="piechart" style="width: 500px; height: 300px;"></div>

    <script type="text/javascript">
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {

        var data = google.visualization.arrayToDataTable([
            ["Name", "Count"],
            {% for row in queryData %}
            ["{{ row[2] }}", {{ row[3] }}],
            {% endfor %}
        ]);

        var options = {
            chartArea: { 
                width: '100%', 
                height: '90%',
            },
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(data, options);
        }
    </script>
</div>
</body>
</html>