<!DOCTYPE html>
<html>
<head>
    <title>College</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css') }}">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>
<body style="background-color: antiquewhite;">

<h3 id="title">NBA Players By College</h3>
<div id="container">
    <form action = "/players_by_college">
        <p>College:</p>
          <p>
            <select name = "college" id="query-selection">
            <option  selected value = "college"> {{college}} </option>
              {% for item in tCol %}
              <option  value = "{{item}}"> {{item}} </option>
              {% endfor %}
            </select>              
          </p>
          <p>Second College:</p>
          <p>
            <select name = "college2" id="query-selection">
            <option  selected value = "college2"> {{college2}} </option>
              {% for item2 in tCol %}
              <option  value = "{{item2}}"> {{item2}} </option>
              {% endfor %}
            </select>              
          </p>
        <p><input type="submit"></p>
    </form>
    <form action="/">
        <p><input type="submit" value="Back"></p>
    </form>
    <br>

    <br>
    <br>
    <head>
        <!--Load the AJAX API-->
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript">

        // Load the Visualization API and the corechart package.
        google.charts.load('current', {'packages':['corechart', 'bar']});

        // Set a callback to run when the Google Visualization API is loaded.
        google.charts.setOnLoadCallback(drawChart);

        // Callback that creates and populates a data table,
        // instantiates the pie chart, passes in the data and
        // draws it.
        function drawChart() {

            // Create the data table.
            var data = new google.visualization.arrayToDataTable([
                ['Season', 'Count', { role: "style" }],
                {% for row in dat %}
                    {% if row[1] == college %}
                        ['{{row[1]}} {{row[2]}}', {{row[0]}}, 'stroke-color: #703593; stroke-width: 4; fill-color: #C5A5CF'],
                    {% else %}
                        ['{{row[1]}} {{row[2]}}', {{row[0]}}, 'stroke-color: #D4AF37; stroke-width: 4; fill-color: #bba58e'],
                    {% endif %}
                {% endfor %}
            ]);

            // Set chart options
            var options = {
                title: "Active Players in NBA from {{college}} and {{college2}}",   
                bar: {groupWidth: "90%"},
                legend: {position: "none"},
                hAxis: {title: 'School/Season'},
                vAxis: {title: 'Active Players'},
                annotations: {textStyle: {fontSize: 10}},
            };

            // Instantiate and draw our chart, passing in some options.
            var chart = new google.visualization.ColumnChart(document.getElementById('columnchart_material'));
            chart.draw(data, options);
        }
        </script>
    </head>

    <!--Div that will hold the pie chart-->
    <div id="columnchart_material" style="width: 800px; height: 600px;"></div>
</div>
</body>
</html>
