<!DOCTYPE html>
<html>
<head>
    <title>Team Win Totals</title>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css') }}">
</head>
<body style="background-color: antiquewhite;">

<h3 id="title">Wins by Season</h3>

<div id="container">
    <form action = "/team_wins_over_seasons">
        <!--<p>Team Name: <input name="teamName" value="{{teamName}}"> </p>-->
        <p>Team Name:</p>
        <p>
            <select name = "teamName"  id="query-selection">
            <option  selected  value = teamName > {{teamName}}</option>
              {% for item in tNBA %}
              <option  value = "{{item}}"> {{item}} </option>
              {% endfor %}
            </select>
            </p>

        <p>Limit result: <input name="limit" value="{{limit}}"> </p>
        <p><input type="submit"></p>
    </form>
    <form action = "/">
        <p><input type ="submit" value="Back"></p>
    </form>

    <br>
    <br>
    <h3>Line Chart</h3>

    <div id="chart_div"></div>

    <script type="text/javascript">
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
        var data = google.visualization.arrayToDataTable([
            ['Season', 'Wins'],
            {% for row in dat%}
            [{{row[1]}}, {{row[2]}}],
            {% endfor %}
        ]);

        var options = {
            title: '{{dat[0][0]}} Wins From 2000-01 to 2018-19',
            curveType: 'function',
            width: 800,
            hAxis: { format: ' '},
            legend: { position: 'bottom' },
            'colors': ['#6a2c70']
        };

        var chart = new google.visualization.LineChart(document.getElementById('chart_div'));

        chart.draw(data, options);
        }
    </script>
</div>

</body>
</html>
